<div id="<%= dom_id payment_method %>">
  <div>
    <strong>Name:</strong>
    <%= payment_method.name %>
  </div>

  <div>
    <strong>Expense:</strong>
    <%= payment_method.expense_id %>
  </div>

</div>
